:root{
	--color-bg: #2c3184;
	--color-fg: #ffffff;
	--color-fg-intro: #c8f2ff;
	--color-btn: #e4e4e4;
	--color-primary: #7351ea;
	--color-primary-hover: #8361fa;
	--color-muted: #aaa;
	--color-picker: #f8f8f8;
	--color-picker-hover: #eae4ff;
	--color-picker-status: #e8e8f0;
	--color-picker-status-ko: #f42525;
	--color-temp-data-ok: #34a300;
	--color-temp-data-ko: #ff3c00;
	--color-footer: #8777ea;
	--color-footer-link: #d4cdff;
	--color-footer-hover: #e8e4ff;
	--color-donate: #ff2188;
	--color-donate-highlight: #ff50a1;
	--color-radio-checked: #dfd5ff;
	--color-radio-hover: #ececec;
	--main-padding: 32px;
	--main-border-radius: 4px;

	--font: 15px system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace;
}


body,html{
	width:100%;
	height:100%;
	margin:0;
}

body{
	font: var(--font);
	background-color: var(--color-bg);
	user-select:none;

	display:flex;
	align-items:center;
	flex-direction:column;
}
.text-left{text-align:left}
.text-center{text-align:center}
.text-right{text-align:right}
.text-muted{color:var(--color-muted); text-decoration:line-through;}
.clickable:hover{cursor:pointer}
span.clickable:hover{text-decoration:underline}
.mono{font-family:var(--font-monospace)}
.help:hover{cursor:help}
.mt-0{margin-top: 0 !important;}
.mt-10{margin-top: 10px !important;}
.mt-20{margin-top: 20px !important;}
.mb-10{margin-bottom: 10px !important;}
.mb-20{margin-bottom: 20px !important;}

#wrapper a, dialog a{
	color:var(--color-primary);
}
#wrapper a:hover, dialog a:hover{
	color:inherit;
}

h1{display:none}
#wrapper{
	display:flex;
	margin: 24px auto;

	box-shadow: var(--color-bg) 0 0 0 3px, #7b82f0 0 0 0 5px;
	border-radius: var(--main-border-radius);
}
main{
	flex-grow:1;
	padding:var(--main-padding);
	border-radius: var(--main-border-radius);
	background-color: var(--color-fg);
}

footer{
	font-size:90%;
	color:var(--color-footer);
	padding: 16px;
	text-align:center;
}
footer a{
	color:var(--color-footer-link);
}
footer a:hover{
	color:var(--color-footer-hover);
}
.love{
	font-style:italic;
	color:var(--color-donate)
}





#intro{
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color:var(--color-fg-intro);
	padding: 16px;
	margin-bottom:16px;
}


#pickers{
	display:grid;
	gap:8px;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom:48px;
}
.picker{
	position:relative;
	background-color:var(--color-picker);
	border-radius:var(--main-border-radius);
	box-sizing:border-box;
	outline:none;
	border:none;;
	width:288px;
	padding:8px;
	display: inline-flex;
	align-items: center;
	flex-direction:column;
}
.picker-check{
	height:18px;
	display:inline-block;
	vertical-align:middle;
}
.picker.picker-ok .picker-check{
	background-image:url(../assets/octicon_check.svg);
	background-repeat:none;
	width:16px;
	margin-right:2px;
}
.picker:hover{
	background-color:var(--color-picker-hover);
	cursor:pointer;
	box-shadow: rgba(0,0,0,.1) 0 0 0px 4px inset;
}
.picker canvas, .picker img{
	transition: all .25s;
}
.picker:hover canvas, .picker:hover img{
	transform:scale(1.05);
}
#pickers .picker:hover img{
	transform:scale(1.25);
}


.picker-thumbnail{
	display:flex;
	width:100%;
	height:240px;
	justify-content:center;
	align-items:center;
}
.picker-thumbnail canvas{
	border-radius:4px;
}
#picker-rom .picker-thumbnail img{
	height:96px;
}


.picker-header{
	font-weight:bold;
}
.picker-title{
	display:flex;
	flex-direction:column;
	min-height:44px;
	justify-content: center;
}


.octicon{
	display:inline-block;
	vertical-align:middle;
	height:16px;
}

#logo{
	max-height: 64px;
}





h2{
	border-bottom: 1px solid #a5a1c4;
	margin-top:48px;
	padding-bottom:8px;
}




#alerts{
	margin-bottom:24px;
}
.alert{
	background-color:#d0e7ff;
	padding: 20px;
	border-radius:4px;
	margin-bottom:12px;
}
.alert-warning{
	background-color:#ffcb00;
}
.alert-danger{
	background-color:#ff3c00;
	color:white;
}




.flex-space-between{
	display:flex;
	justify-content:space-between;
	align-items:center;
	position:relative;
}
.flex-space-between.mb{margin-bottom:8px;}























p{padding:0;margin:0}
p:not(:last-child){margin-bottom:8px}




/* dialogs */
dialog{
	user-select:none;
	border:none;
	border-radius:6px;
	box-shadow:rgba(0,0,0,.35) 0 0 8px 2px;
}
dialog::backdrop{
	background-color:rgba(80,80,80,.5);
	backdrop-filter:blur(4px);
}
.btn-dialog-close{
	border:none;
	outline:none;
	padding:6px;
	border-radius:80px;
	color:#555;
	background-color:transparent;
}
.btn-dialog-close:hover{
	color:black;
	background-color:#eee;
	cursor:pointer;
}
.btn-dialog-close svg{line-height:0; display:inline-block; vertical-align:middle; height:28px;}



#dialog-borders-header{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:8px
}

#dialog-borders-header label{
	padding: 8px 12px;
	display:inline-block;
	line-height:1;
	border-radius:3px;
}
#dialog-borders-header label:hover{
	background-color:var(--color-radio-hover);
	cursor:pointer;
}
#dialog-borders-header label:has(:checked){
	background-color:var(--color-radio-checked);
}
#dialog-borders-header input{
	margin:0;
}



#choose-border-file{
	max-width: 800px;
}
#choose-border-file p{
	line-height: 1.6;
}
#choose-border-file .temp-data-ok,
#choose-border-file .temp-data-ko{
	padding-left:24px;
	background-repeat:no-repeat;
	background-position:0 50%;
	background-size:16px;
}
#choose-border-file .temp-data-ok{
	background-image:url('../assets/octicon_check.svg');
	color:var(--color-temp-data-ok);
}
#choose-border-file .temp-data-ko{
	background-image:url('../assets/octicon_x.svg');
	color:var(--color-temp-data-ko);
}




#border-gallery{
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	gap:8px;
	max-height: 540px;
	overflow-y: scroll;
}
#border-gallery img{
	height:224px;
}
#border-gallery .border-name{
	font-weight:bold;
}
#border-gallery>button>div{
	display:flex;
	flex-direction:column;
	min-height:48px;
	justify-content: center;
}






/* color pickers */
.input-color{display:none}
#palette{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	gap:0px;
	transition: all .25s;
}
#picker-palette:hover #palette{
	gap:16px;
}




.palette-color{
	width:48px;
	height:48px;
	transition: all .25s;
}
.palette-color:nth-child(1){border-top-left-radius:8px;}
.palette-color:nth-child(2){border-top-right-radius:8px;}
.palette-color:nth-child(3){border-bottom-left-radius:8px;}
.palette-color:nth-child(4){border-bottom-right-radius:8px;}
#picker-palette:hover #palette .palette-color{
	width:56px;
	height:56px;
	border-radius:80px;
}

#picker-palette:hover #palette .palette-color:hover{
	box-shadow: rgba(255,255,255,.35) 0 0 0 6px inset;
}
#picker-palette:hover #palette .palette-color:first-child:hover{
	box-shadow: rgba(0,0,0,.15) 0 0 0 6px inset;
}













/* form elements */
input[type="file"]{display:none}
input, button, select, textarea{
	font-size:inherit;
	box-sizing:border-box;
	border-radius:3px;
	outline:none;
}
input, button, select{
	font-family:inherit;
}
textarea{
	font-family:var(--font-monospace);
}

button.btn{
	background-color:var(--color-btn);
	background-image: radial-gradient(circle at center, transparent, rgba(0,0,0,.35) 200%);
	border:none;
	border-bottom:3px solid rgba(0,0,0,.35);
	padding: 16px 24px;
	transition: all .2s;
	color:inherit;
	line-height:1;
}
button.btn:not([disabled]):hover{
	cursor:pointer;
}
button.btn:disabled{
	opacity:.5;
}


button.btn>svg{height:24px; margin-right:4px;}
button.btn>span, button.btn>svg{display:inline-block; vertical-align:middle;}





button.btn.btn-primary{
	background-color:var(--color-primary);
	color:white;
	font-weight:600;
}
button.btn.btn-primary:hover:not(:disabled){
	background-color:var(--color-primary-hover);
}

button.btn#btn-build{
	font-size:110%;
	padding: 16px 32px;
}




button.btn.btn-donate{
	display:inline-block;
	background-color: var(--color-donate);
	background-image: radial-gradient(circle at center, transparent, #cc1a6d 200%);
	border-bottom:3px solid rgba(65, 21, 44, 0.35);
	padding: 12px 24px;
	color:white;
	font-weight:bold;
}
button.btn.btn-donate:hover{
	background-color: var(--color-donate-highlight);
}





/* SNACKBARS */
#snackbars{
	position:fixed;
	bottom:16px;
	right: 16px;

	display:flex;
	flex-direction:column;
	gap: 8px;
}
.snackbar{
	background-color:#232;
	color:white;
	min-width: 240px;
	padding: 0px 16px;
	border-radius:3px;
	overflow:hidden;
	height:0px;
	box-sizing:border-box;
	transition: all .5s;
}
.snackbar.open{
	height:48px;
	padding: 16px 16px;
	line-height:1;
}
.snackbar.snackbar-success{background-color:#4d8859;}
.snackbar.snackbar-warning{background-color:#f7e17b;}
.snackbar.snackbar-danger{background-color:#b72319;color:white;}














/* responsive */
@media only screen and (max-width:1441px){
	body{font-size:13px}
}
